<div class="limiter">
    <div class="container">
        <div @enterWrap class="wrap">
            <img @enterIcon class="pic" src="public/images/app-logo.png" alt="IMG">
            <form class="form" (ngSubmit)="sendMessage()">
                <span class="form-title">
                    Chat
                </span>
                <div class="mesgs sub-content-txt">
                    <div id="chat" class="msg_history">
                    </div>
                    <div class="wrap-input">
                        <input class="input" id="msg" name="msg" type="textarea" placeholder="Type your message..."
                            [(ngModel)]="msg">
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fa fa-keyboard-o fa-lg" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="container-form-btn">
                        <button type="submit" class="main-button icon-button">
                            Send
                        </button>
                    </div>
                </div>
            </form>
            <div @enterUsers class="form">
                <span class="form-sub-title">
                    Users
                </span>
                <div class="chat_list {{isCurrentUser(user)}}" *ngFor="let user of chatService.getUsers()">
                    <div class="chat_people">
                        <div class="chat_img"><i class="fa fa-user-circle fa-2x"></i></div>
                        <div class="chat_ib vertical-center">
                            <strong *ngIf="user == currentUser.username"> {{user}} (You)</strong>
                            <span *ngIf="user != currentUser.username"> {{user}}</span>
                        </div>
                        <div class="priv-chat vertical-center"><button (click)="sendPrivateMessage(user)" class="fa fa-comments-o fa-2x"></button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>